<h1>New user</h1>
<% if !flash.empty? %>
 <div id = "error_msg">
  <p style = "margin: 1px">Ошибка:</p>
    <% flash.each do |_, msg| %>
            <p style = "margin: 7px 0 3px 10px" id='message' > <%= msg %> </p> 
    <% end %>
    <p style = "margin-top: 0px, margin-left:1px">Попробуйте снова.</p>
  </div>
<% end %>
<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>
